{% extends "app/base.html" %}

{% block title %}Alter {{ person.name }}{% endblock %}

{% block content %}
<div id="alter-user-container">
    <h2>Alter User: {{ person.name }}</h2>

    <form method="POST" id="alter-user-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_name">Name</label>
            {{ form.name }}
        </div>

        <div class="edit-actions">
            <button type="submit" class="form-button">Save</button>

            <!-- Delete button goes to the delete confirmation view -->
            <a href="{% url 'delete-person' session_pk=person.session.pk pk=person.pk  %}" class="danger-button">
                Delete Person
            </a>
        </div>
    </form>
</div>
{% endblock %}
