{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
</head>
<body>


<header id="main-header">
    <nav id="main-nav">
        <a href="{% url 'all-sessions' %}" class="nav-button" >All Sessions</a>
        {% block header_extras %}{% endblock %}
    </nav>
</header>

<main id="main-content">
    {% block content %}{% endblock %}
</main>

</body>
</html>
