{% extends "app/base.html" %}

{% block title %}Delete {{ session.name }}{% endblock %}

{% block content %}
<div id="delete-person-container">

    <h2>Delete {{ session.title }}?</h2>

    <p class="warning-text">
        This action cannot be undone.
    </p>

    <form method="POST">
        {% csrf_token %}

        <div class="delete-actions">
            <button type="submit" class="btn-delete">Yes, Delete</button>

            <a href="{% url 'session-details' session.id %}" class="form-button cancel-btn">
                Cancel
            </a>
        </div>
    </form>

</div>
{% endblock %}
