{% extends "app/base.html" %}

{% block title %}{{ person.name }}{% endblock %}

{% block header_extras %}
    <a href="{% url 'session-details' session.pk %}" class="nav-button">
        All People
    </a>
    <a href="{% url 'add-item' session_pk=person.session.pk person_pk=person.pk %}" class="nav-button">
    Add Item
</a>
<a href="{% url 'add-person' session.pk %}" class="nav-button">
        Add Person
    </a>
{% endblock %}


{% block content %}
<!--{% include 'app/session_navbar.html' %}-->
<div id="person-details">
    <h2><a href="{% url 'alter-user' session_pk=person.session.pk pk=person.pk %}" class="person-link">
    {{ person.name }}
  </a></h2>

    <table id="items-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in person.items.all %}
            <tr>
                <td><a href="{% url 'alter-item' pk=item.pk %}" class="item-link"> {{ item.name }}</a></td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p id="person-total">
        Total: <strong>{{ person.calculate_amount }}</strong>
    </p>
</div>
{% endblock %}
