{% extends "app/base.html" %}

{% block title %}{{ session.title }}{% endblock %}

{% block header_extras %}
<a href="{% url 'add-person' session_pk=session.pk %}" class="nav-button">
    Add Person
</a>
{% endblock %}

{% block content %}
<div class="session-header">
    <h2>Session: {{ session.title }}</h2>
    <a href="{% url 'edit-session' session.id %}" class="btn btn-primary">Edit Session</a>
    <a href="{% url 'session-details-detailed' session.pk %}" class="nav-button">View Detailed Breakdown</a>

</div>

<section id="people-section">

    {% if session.persons.exists %}
    <table id="people-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Total</th>
                <th>Taxed Total</th>
            </tr>
        </thead>
        <tbody>
            {% for person in session.persons.all %}
            <tr>
                <td>
                    <a href="{% url 'person-details' session_pk=session.pk pk=person.pk %}">
                        {{ person.name }}
                    </a>
                </td>
                <td>{{ person.calculate_amount }}</td>
                <td>{{ person.calculate_taxed_amount }}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>

    <p id="grand-total" style="text-align:center; font-size:1.3em; margin-top:20px;">
        Grand Total: {{ grand_total }}
    </p>

    {% else %}
    <p style="text-align:center;">No people yet in this session.</p>
    {% endif %}

</section>
{% endblock %}
